.textWishlist {
    margin-top: 50px;
    text-align: center;
    font-size: 52px;
    color: #962e2b;
}

.Wishlist {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    position: relative;
}

.Wishlistcard {
    width: 250px;
    height: 450px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.43);
    transition: transform 0.3s ease;
    background-color: #ffffff;
    position: relative;
}


.image {
    width: 250px;
    height: 250px;

}

.btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.btnlove{
   font-size: 20px;
   color: #962e2b;
}