.container {
    width: 100%;
    height: 100vh;
    background-color: #d2e5f0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 60%;
    height: 80%;
    background-color: #962e2b;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

}

.text {
    font-size: 32px;
    position: absolute;
    top: 25px;
    text-align: center;
    color: #d2e5f0;
}
.img {
    width: 300px;
    border: #000000 2px solid;
    /* position: absolute;
    bottom: 0;
    right: 50px; */
}

.input {
    display: flex;
    flex-direction: column;
}

.input input {
    width: 350px;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #000000;
    padding: 10px;
}

.input input::placeholder {
    color: #000000;
}


.input span {
    color: #d2e5f0;
}

.Form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    margin-top: 10px;
    width: 350px;
    position: relative;
    display: inline-block;
    padding: 0.4em 0.5em;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    color: #d2e5f0;;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #d2e5f0;;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #d2e5f0;;
}

.btn:hover {
    color: rgb(0, 0, 0);
    box-shadow: inset 0 -100px 0 0 #d2e5f0;
}

.btn:active {
    transform: scale(0.9);
}

.login{
    margin-top: 10px;
}

.login a {
    text-decoration: none;
    color: #d2e5f0;;
}