.Container {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
}

.product {
    margin: 0;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* gap: 40px; */

}

.card {
    margin-top: 70px;
    border: 2px solid rebeccapurple;
}

.input  {
    position: absolute;
    top: 80px;
    right: 125px;

}
.input input {

    width: 250px;
}