.featured-swiper {
    position: relative;
}

.featured-swiper .swiper-button-next,
.featured-swiper .swiper-button-prev {
    color: #962e2b !important;
    position: absolute !important;
    top: 0 !important;
    margin: 0 !important;
    z-index: 99999 !important;
    font-size: 30px !important;
    font-weight: bolder !important;
}

.featured-swiper .swiper-button-next::after,
.featured-swiper .swiper-button-prev::after {
    font-size: 30px;
}